# H1: DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
    1. Python
    2. SQL
    3. R
    4. Excel

**Objective**
.Python
.Jupyter
.R

# Some of the commonly used libraries by data scientists include:
    1. Numpy
    2. Pandas
    3. PyTorch
    4. SciPy
    5. Keras

|Data Science Tools|
|------------------|
|RStudio|
|Apache|
|Tensorflow|

### H3 Below are a few examples of evaluating arithmetic expressions in Python
a<- 3
b<- 2

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2 Author
Prakash Mani Tripathi